/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 1
   
   PHCT Typographic Style Sheet
   Author: Sumi Akter
   Date:  27/09/2023 
   
   Filename: ph_styles.css

*/
@charset "UTF-8";
 @font-face{
   font-family: myFirstFont;
      src: url(./cac_champagne.woff);
 }

/* Structural Styles */
html{
   background-color: hsl(91, 8%, 56%);
}
body{
   background-color: hsl(58, 31%, 84%);
   font-family:  Palatino Linotype, Book Antiqua, Palatino, serif;
}

header{
   background: gray;
}

/* Navigation Styles */
nav ul li {
   list-style: none;
}
nav ul li a{
   text-decoration: none;
   color: #fff;
   font-family: Trebuchet MS,
      Helvetica,
      sans-serif;
   padding: 10px 0;
}
/* paragraph */
p{
   margin: 0;
   padding: 5px 25px 25px 25px;
   font-size: 1.1em;
   text-align: center;
}

/* Section Styles */




/* Description List Styles */

/* address */
address{
   font-style: normal;
   font-size: 0.9em;
   text-align: center;
   padding: 10px 0;
}